<form method="post" action="/text2">
  <label for="exampleMessage">text to parse</label>
  <div><i><b>example text:</b> I live in Frankfurt but I go to Berlin a lot and I also like to visit Hamburg</i></div>
  <textarea class="u-full-width" placeholder="" id="text"></textarea><br>
  <button id="geoparse">geoparse this</button>
</form>

<div id="result"></div>

<div id="map"></div>